@import 'tailwindcss';
* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
/* Skrollni butunlay yashirish */
.no-scrollbar,
.ant-table-body,
.ant-table-content {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar,
.ant-table-body::-webkit-scrollbar,
.ant-table-content::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari and Opera */
}

.ant-table-thead > tr > th {
  background: #0f172a !important;
  color: #475569 !important;
  border-bottom: 1px solid #1e293b !important;
  font-size: 10px !important;
  letter-spacing: 0.1em !important;
  font-weight: 900 !important;
  text-transform: uppercase;
}
.ant-table-tbody > tr > td {
  border-bottom: 1px solid #1e293b !important;
  color: #94a3b8 !important;
}
.ant-table-cell-fix-left,
.ant-table-cell-fix-right {
  background: #0f172a !important;
  z-index: 20 !important;
}
